<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         executionOrder="default"
>
    <testsuites>
        <testsuite name="Request Suit">
            <directory >./tests/Request</directory>
        </testsuite>     
         <testsuite name="Schema Suit">
            <directory >./tests/Schema</directory>
        </testsuite> 
        <testsuite name="Resource Suit">
            <directory >./tests/Resource</directory>
        </testsuite> 
        <testsuite name="Response Suit">
            <directory >./tests/Response</directory>
        </testsuite>
        <testsuite name="Builder Suit">
            <directory >./tests/Builder</directory>
        </testsuite>
        <testsuite name="Others Suit">
            <directory >./tests/Others</directory>
        </testsuite>
        <testsuite name="Handlers Suit">
            <directory >./tests/Handlers</directory>
        </testsuite>
    </testsuites>

</phpunit>
